* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to left, #B5179E, #7209B7 70%);

    text-align: center;
}

h1{
    font-size: 2.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.container{
    height: 70vh;
    display: flex;
justify-content: center;
align-items: center;
}

.game {
height: 60vminv;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: rgb(20, 18, 18);
    background-color: #4CC9F0;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(26, 14, 14);
    color: rgb(241, 231, 219);
    border-radius: 1rem;
    border: none;
}

#New-btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(26, 14, 14);
    color: rgb(241, 231, 219);
    border-radius: 1rem;
    border: none;
}


#msg {
    color: aliceblue;
    font-size: 5vmin;
    padding-bottom: 1rem;
}

.msg-container {
height: 20vmin;
padding: 2rem ;
}

.hide{
    display: none;
}

